.page {
	margin-top: $global-margin * 5;
	
	@include mq($from: tablet) {
		margin-top: $global-margin * 8;
	}
	
	.page__back {
		display: flex;
		flex-flow: row;
		align-items: center;
		color: rgba(#000, 0.75);
		cursor: pointer;
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
				
		&:hover {
			color: rgba(#000, 1);
			
			svg {
				transform: translateX(-3px);
			}
		}
		
		svg {
			width: 10px;
			margin-right: $global-margin / 3;
			transition: $global-transition;
		}

		span {
			font-weight: 600;
			transition: $global-transition;
			font-size: 0.9rem;
		}
	}

	&.page__loading {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: $global-padding * 2;

		.loading {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.7rem;
			font-weight: 200;
			color: rgba(#000, 0.3);
		}
	}

	&.page__404 {

		.page__404--content {
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
			padding-top: $global-padding * 6;
			
			.content__icon {
				width: 4rem;
				color: rgba($primary-color, 0.2);
				margin-bottom: $global-margin * 2;
			}

			.content__title {
				width: auto;
				font-size: 5rem;
				font-weight: 900;
				color: rgba($primary-color, 0.8);
				margin-bottom: $global-margin / 2;
			}

			.content__subtitle {
				width: auto;
				margin-top: $global-margin * 3;
				font-size: 1.5rem;
				font-weight: 600;
				color: rgba($primary-color, 0.4);
				margin: 0;
			}
		}
	}
}