#projects {
	padding: 4em 10px;
	
	.projects {
		width: 100%;
		display: flex;
		flex-flow: column;
		opacity: 0;
		transform: translateY(2rem);
		transition: 300ms all ease-in-out;
		
		@include mq($from: tablet) {
			flex-direction: row;
			flex-wrap: wrap;
			margin-left: -2rem;
		}
		
		.project {
			width: 100%;
			margin-bottom: 2rem;
			position: relative;
			
			@include mq($from: tablet) {
				width: calc(50% - 2rem);
				margin-bottom: 2rem;
				position: relative;
				margin-left: 2rem;
			}
			
			&:hover {

				.card {
					box-shadow: 0 8px 15px 0 rgba(#000, 0.03), 0 2px 2px 0 rgba(#000, 0.02);
					
					.cover {
						opacity: 1;
					}
				}
			}

			&.project__temp {
				
				.card {
					background-color: rgba(#000, 0.03);
					display: flex;
					align-items: center;
					justify-content: center;
					
					&:hover {
						box-shadow: none;
						cursor: default;
						user-select: none;
					}
					
					span {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						letter-spacing: 2px;
						font-weight: 800;
						color: rgba(#000, 0.5);
					}
				}
			}
			
			.card {
				width: 100%;
				padding-bottom: 56.25%;
				position: relative;
				transition: 300ms all ease-in-out;
				cursor: pointer;
				border-radius: 6px;
				overflow: hidden;
				background-size: cover;
				background-position: center center;
								
				&:hover {
					
					.card__type {
						bottom: 1rem;
						opacity: 0;
						@include mq($from: tablet) {
							opacity: 1;
						}
					}
				}
				
				.card__type {
					position: absolute;
					left: 50%;
					bottom: 0.5rem;
					text-align: center;
					transform: translateX(-50%);
					color: #FFF;
					background-color: rgba(#000, 0.35);
					padding: 0.3rem 1rem;
					border-radius: 6px;
					font-size: 0.7rem;
					font-weight: 400;
					white-space: nowrap;
					transition: 300ms all ease-in-out;
					opacity: 0;
					
					@include mq($from: tablet) {
						opacity: 0;
						bottom: 0rem;
						font-size: 0.7rem;
						padding: 0.5rem 1rem;
					}
				}
			}
		}
	}
}
