// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------



// Colors
$primary-color: #236da0;

$text-color: rgba(#000, 0.8);


// Widrh
$max-width: 50rem;

// Other
$global-margin: 1rem;
$global-padding: 1rem;
$global-transition: 300ms all ease-in-out;