/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-family: 'Inter', sans-serif;
  font: normal 16px / 1.4 $text-font-stack;
}


h2 {
	width: 100%;
	float: left;
	font-weight: 1000;
	text-transform: uppercase;
	color: rgba(#000, 0.75);
	font-size: 1.2rem;
	margin-bottom: 3rem;
}